body{
	padding: 0;
    margin: 0;
    padding-top: 40px;
}

nav{
	position: fixed;
    background-color: black;
    color: white;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    height: 70px;
    margin-right: px;
    padding-right: 0px;
    font-size: 30px;
    font-style: none;



}

a{
    padding-right: 10px;
    color: white;
    font-style: none
}


.item{
	 width: 50%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

b{
	padding-right: 100px;
    color: white;
    
}

img{
    position: relative;
    z-index: 0;
	width: 100%;
    height: auto;
}

.description-words{
  position: fixed;
  top: 40%;
  left:35%;
   
  transform: translate(-40%, 15%;
  margin-top: 
}

.thor{
    font-size: 30px;
    font-weight: bold;
}


           
}